* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.appl-wripper {
  width: 100%;
  font-family: cursive;
}
.header {
  background-color: beige;
  padding: 20px;
}
.appl-veiw {
  width: 900px;
  margin: 0 auto;
  display: block;
}
.appl-logo {
  vertical-align: super;
}
.appl-heading {
  display: inline-block;
  margin-left: 200px;
  text-align: center;
  line-height: 30px;
}
.appl-heading h1 {
}

.appl-heading h2 {
  color: #2a9023;
}
.dr-image {
  width: 130px;
  float: right;
  border-radius: 50%;
}
.form {
  display: block;
  margin: 0 auto;
  width: 500px;
  padding: 40px 20px;
  border: 1px solid #2a9023;
  border-radius: 5px;
  background-image: url(../image/green-sprout.webp);
  background-position: center;
  position: relative;
  height: 200px;
  text-align: center;
  margin-bottom: 100px;
}
.form-bg {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.form p {
  display: inline-block;
  font-size: 22px;
  color: white;
  margin-top: 50px;
}
.form input {
  border: 1px solid;
  margin: 10px;
  width: 100px;
  height: 30px;
  padding: 2px 5px;
}
.form button:hover {
  background-color: white;
}
.form button {
  background-color: #2a9023;
  padding: 7px 20px;
  border-radius: 5px;
  outline: none;
  margin: 15px;
}
.form-bg a:hover {
  color: green;
}
.form-bg a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.chart-img img {
  width: 100%;
  margin-bottom: 100px;
  filter: contrast(1.4);
}

.submit-no input {
  border: 1px solid;
}
.collection-info {
  display: block;
}
.dite-info {
  width: 900px;
  margin: 0 auto;
  display: block;
  background-color: beige;
  display: none;
  margin-bottom: 50px;
}
.food-img {
  width: 300px;
  height: 250px;
}
.flotimg {
  float: right;
}
.flotimg2 {
  float: right;
  height: 250px;
}
.flotdiv {
  height: 250px;
}
.amout-of-dite {
  display: inline-block;
  width: 570px;
  vertical-align: top;
  padding: 20px;
  font-size: 20px;
  border-top: 2px solid green;
}
/* media css */

/* @media only screen and (max-width:640px) and (min-widht:1px); */
@media only screen and (min-width: 1px) and (max-width: 640px) {
  .appl-veiw {
    width: 100%;
  }
  .appl-heading {
    margin-left: 0px;
    display: block;
    line-height: 25px;
    margin-top: 20px;
  }
  .header {
    position: relative;
    background-color: white;
  }
  .dr-image {
    width: 105px;
    float: none;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .chart-img img {
    margin-bottom: 30px;
  }

  .form {
    width: 100%;
    margin-bottom: 50px;
  }

  .dite-info {
    width: 100%;
  }
  .food-img {
    width: 100%;
  }
  .amout-of-dite {
    width: 100%;
    border-bottom: 1px solid green;
    border-top: 0px;
    margin-bottom: 40px;
  }
  .flotdiv {
    height: auto;
  }
  .flotdiv2 {
    height: auto;
  }
  .amout-of-dite b {
    color: green;
  }
}
